body, * {
  font-family: sans-serif;
  background: red;
}
.container {
  width: 400px;
  height: auto;
  border: 1px solid #000;
  background: #fff;
  * {
    background: red;
    
  }
  box-shadow: 1px 1px 1px black;
  border-radius: 3px;
  margin: 0 auto;
  padding: 35px;
  h1 {
    text-align: left;
  }
}

$goo: #eeccff;